@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="container mx-auto max-w-lg display-6 bg-white rounded-lg shadow-xl text-center">
	<div class="game-container">
		@if (!gameStarted)
		{
			<!-- Pantalla de Seleccion del Jugador -->
			<div class="selection-screen">
				<h1>Elige los jugadores</h1>
				<div class="player-buttons">
					@*Jugador X*@
					<button class="btn @(playerTypeSelection == PlayerType.X
							? "btn-primary" : "btn-outline-primary")"
							@onclick="() => SelectPlayerType(PlayerType.X)"> Jugador X
					</button>

					@*Jugador O*@
					<button class="btn @(playerTypeSelection == PlayerType.O
							? "btn-info" : "btn-outline-info")"
							@onclick="() => SelectPlayerType(PlayerType.O)"> Jugador O
					</button>
				</div>

				@*Boton Iniciar Partida*@
				<button class="btn btn-success btn-lg mt-4"
						disabled="@(playerTypeSelection == null)"
						@onclick="StartGame"> Iniciar Partida
				</button>

			</div>
		}
	</div>
</div>

@code {
	private enum PlayerType {X, O}

	private bool gameStarted;
	private PlayerType? playerTypeSelection;
	private PlayerType?[] board = new PlayerType?[9];
	private PlayerType _currentPlayerType = PlayerType.X;
	private PlayerType? winner;
	private bool esEmpate;

	private void SelectPlayerType(PlayerType playerType)
	{
		playerTypeSelection = playerType;
		StateHasChanged();
	}

	private void SelectPlayerX()
	{
		playerTypeSelection = PlayerType.X;
	}

	private void StartGame()
	{
		if (playerTypeSelection.HasValue)
		{
			gameStarted = true;
		}
	}
}
 