@page "/"

@inject PlayerTypeService playerTypeService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
<div class="container mx-auto max-w-lg display-6 bg-white rounded-lg shadow-xl text-center">
	<div class="game-container">
		@if (!playerTypeService.gameStarted)
		{
			<!-- Pantalla de Seleccion del Jugador -->
			<div class="selection-screen">
				<h1>Elige los jugadores</h1>

				<div class="player-buttons">
					@*Jugador X*@
					<button class="btn @(playerTypeService.playerTypeSelection == PlayerType.X
							? "btn-primary" : "btn-outline-primary")"
							@onclick="() => SelectPlayerType(PlayerType.X)"> Jugador X
					</button>

					@*Jugador O*@
					<button class="btn @(playerTypeService.playerTypeSelection == PlayerType.O
							? "btn-info" : "btn-outline-info")"
							@onclick="() => SelectPlayerType(PlayerType.O)"> Jugador O
					</button>
				</div>

				@*Boton Iniciar Partida*@
				<button class="btn btn-success btn-lg mt-4"
						disabled="@(playerTypeService.playerTypeSelection == null)"
						@onclick="StartGame"> Iniciar Partida
				</button>

			</div>
		}
	</div>
</div>

@code {
	private void SelectPlayerType(PlayerType playerType)
	{
		playerTypeService.playerTypeSelection = playerType;
	}

	private void StartGame()
	{
		if (playerTypeService.playerTypeSelection.HasValue)
		{
			playerTypeService.gameStarted = true;
		}
	}
}
 